{% extends 'video_chat/home_base.html' %}
{% block main_panel %}
<div class="send_request_panel_wrapper">
    <div class="send_request_input_panel_wrapper">
        <div class="main_send_requsest_input_panel_header">
            Добавить в друзья
        </div>
        <div class="secondary_send_requsest_input_panel_header">
            Вы можете добавить в друзья с помощью имени пользователя
        </div>
        <div class="send_request_input_wrapper">
            <form method="post" action="" id="send_friend_request_form">
                {% csrf_token %}
                {{ form.receiver_username }}
                <button type="submit" class="btn btn-success">Отправить запрос на добавление в друзья</button>
            </form>
            <div id="friend_request_form_errors">{{ error }}</div>
        </div>
    </div>
    <div class="send_request_show_panel_wrapper">
        Sth
    </div>
</div>
{% endblock main_panel %}