@font-face {
  font-family: "Ubuntu-Regular";
  src: url("/static/fonts/ofont.ru_Ubuntu.ttf"); }

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("/static/fonts/ubuntu-bold_[allfont.ru].ttf"); }

html, body, ul {
  margin: 0px;
  padding: 0px; }

.non_ref {
  text-decoration: none;
  color: #666; }

li {
  list-style-type: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

body {
  min-height: 100vh;
  min-width: 100vw; }

.content_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login_window {
  width: 390px;
  padding-top: 10px;
  padding-bottom: 10px; }

.form_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.login_header {
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 51px; }

.form_text_input_wrapper {
  width: 100%;
  width: 100%;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.form_text_input {
  width: 100%;
  font-family: Ubuntu-Bold;
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: 0 0;
  height: 62px;
  padding: 0 20px 0 38px;
  overflow: visible;
  outline: none;
  border: none; }

.control_settings {
  padding-top: 3px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.login_button_wrapper {
  width: 100%;
  margin-top: 17px; }

.login_button {
  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  overflow: visible;
  outline: none;
  border: none;
  background: 0 0;
  background-color: #827ffe;
  border-radius: 3px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s; }

.login_button:hover {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  background-color: #494887; }

.remember_me_label {
  font-weight: 400;
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #999;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer; }

.remember_me_input {
  box-sizing: border-box;
  padding: 0;
  display: none;
  outline: none;
  border: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.remember_me_label::before {
  content: "";
  font-family: FontAwesome;
  font-size: 15px;
  color: #827ffe;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #827ffe;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.remember_me_input:checked + .remember_me_label::before {
  content: '\f00c'; }

.forgot_reference {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  text-decoration: none;
  color: #827ffe;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s; }

.forgot_reference:hover {
  color: #494887;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s; }

.frame {
  width: 110%;
  height: 110%;
  max-width: 110%;
  max-height: 110%;
  border: 2px solid #827ffe;
  border-radius: 3px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s;
  -o-transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s;
  -moz-transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s;
  transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s; }

.frame_open {
  opacity: 1;
  visibility: visible;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s;
  -o-transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s;
  -moz-transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s;
  transition: max-width 0.3s, max-height 0.3s, opacity 0.3s, visibility 0.3s; }

.captcha_wrapper {
  width: 100%;
  margin-bottom: 16px; }

.login_wigh_google_wrapper {
  padding: 15px; }
  .login_wigh_google_wrapper .login_wigh_google_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none; }

.login_with_google_img_wrapper {
  padding-right: 10px; }
  .login_with_google_img_wrapper .login_with_google_img {
    width: 40px;
    height: 40px; }

.login_with_google_text {
  font-family: Ubuntu-Bold;
  color: #403866; }

.have_no_acc_wrapper {
  padding-top: 3px; }
  .have_no_acc_wrapper .have_no_acc_link {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.sign_in_instead {
  padding-top: 18px; }

/*# sourceMappingURL=auth.css.map */