$dark_contrast_element_violet_8: #454483;
$dark_contrast_element_violet_5: #59589f;
$dark_background_violet_color_10: #3c3c53;
$dark_background_violet_color_9: #4d4d67;
$darkest_background_violet_10: #181822;
$light_background_white_color: white;
$auxiliary_light_color: white;
$dark_button_hover_violet_color_6: #45455d;
$dark_button_active_violet_color_6: #575774;
$main_font_grey_color_5: #858585;
$active_panel_font_grey_color_7: #a0a0a0;
$aux_font_grey_color_6: #cfcfcf;
$aux_font_grey_color_3: #edecec;
$main_scroll_violet_color: #2d2d3c;
$leave_channel_red_button: rgb(233, 77, 77);
$dark_control_panel_grey: #575757;
$send_friend_request_button_blue_color: #5865f2;

$side_panel_width: 272px;

html, body, ul{
    margin: 0px;
    padding: 0px;
}
.non_ref{
    text-decoration: none;
    color: #666;
}
li{
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
body{
  min-height: 100vh;
  min-width: 100vw;
}
.content{
    height:100%;
    width:100%;
    
}
.global_wrapper{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    position: relative
}
.side_panel{
    height: 100%;
    width: $side_panel_width;
    min-width: $side_panel_width;
    background-color: $dark_background_violet_color_10;
    display: flex;
    flex-direction: column;
}
.profile_panel{
    background-color: $dark_contrast_element_violet_8;
    display:flex;
    flex-direction: column;
}
.profile_part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profile_info{
    display: flex;
    flex-direction: row;
    max-width: 171px;
}
.profile_img_wrapper{
    padding: 10px 5px 10px 5px;

    .profile_img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}

.profile_options{
    color: $active_panel_font_grey_color_7;
    max-width: 111px;

    .profile_options_btn{
        padding: 5px 7px 5px 7px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: $dark_contrast_element_violet_5;
        }
    }
}
.profile_nicknames{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    //overflow: hidden;
}
.profile_nickname{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    max-width: 120px;
    overflow: hidden;
}
.user_nickname{
    font-size: 0.8rem;
    color: $main_font_grey_color_5;
    max-width: 100px;
    overflow: hidden;
}
.profile_options{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}
.interactive_panel{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.deal_switching{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 5px;
    color: $active_panel_font_grey_color_7;

    .panel_switcher{
        padding: 5px 8px 5px 8px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: $dark_button_active_violet_color_6;
            transition: background-color 0.0s ease;
        }
    }
}
.non-shift{
    line-height:normal;
}
.search_panel{
    padding: 7px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_input_default{
    padding: 3px 3px 3px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: $main_scroll_violet_color;
    color: $aux_font_grey_color_6;
}

.call_manage_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}
.side_panel_button{
    width: calc((100% - 10px) / 2);
    outline: none;
    background-color: transparent;
    border-style: none;
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;   
    color: $main_font_grey_color_5;
    
    &:hover{
        background-color: $dark_button_hover_violet_color_6;
        transition: background-color color 0.1s ease;
        color: $aux_font_grey_color_6;
    }

    &:active{
        background-color: $dark_button_active_violet_color_6;
        color: $aux_font_grey_color_6;
    }

    .side_panel_button_content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .side_panel_button_content_ico{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .side_panel_button_content_name{
            padding-left: 15px;
        }
    }
}
.personal_messages{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: $main_font_grey_color_5;
    overflow-y: auto;

    .messages_label{
        padding: 7px 5px 5px 10px;
        font-size: 1.2rem;
    }

    .messages_wrapper{
        flex-grow: 1;
        padding-top: 5px;
        overflow-y: hidden;
        overflow-x: hidden;
        border-top: 1px solid $dark_background_violet_color_9;
        border-bottom: 1px solid $dark_background_violet_color_9;

        scrollbar-width: 4px;
        scrollbar-color: $main_scroll_violet_color;

        &::-webkit-scrollbar{
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $main_scroll_violet_color;
        }

        &:hover{
            overflow-y: auto; 
        }

        .message_item{
            display: flex;
            flex-direction: row;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            overflow: hidden;

            &:hover{
                background-color: $dark_button_hover_violet_color_6;
                transition: background-color 0.1s ease;
            }

            &:active{
                background-color: $dark_button_active_violet_color_6;
            }
        }
    }
}

.messages_users_avatar{
    height:40px;
    width: 40px;
    border-radius: 50%;
}
.message_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    padding-left: 7px;
}
.conv_user_nickname{
    font-size: 1rem;
    max-width: 145px;
    text-wrap: nowrap;
    overflow: hidden;
}
.conversation_status{
    font-size: 0.85rem;
    width: 100%;
    max-width: 201px;
    text-wrap: nowrap;
    overflow: hidden;
}
.message_data{
    font-size: 0.7rem;
    align-self: flex-end;
}
.nickname_data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.big_profile_img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.welcome_message{
    font-weight: 360;
    font-size: 2rem;
}
.pure_page_user_nickname{
    font-weight: 600;
    font-size: 2rem;
    max-width: 320px;
    overflow: hidden;
}
.big_profile_info{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .big_profile_nickname{
        color: $aux_font_grey_color_6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.pure_profile_img_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3%;
}
.main_panel{
    height: 100%;
    width: calc(100% - #{$side_panel_width});
    max-width: calc(100% - #{$side_panel_width});
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_panel_wrapper{
    height: 95%;
    padding-top: 5%;
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.share_profile_button_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    width: 23%;
    min-width: 115px;

    .share_profile_button{
        outline: none;
        border-style: none;
        background-color: $dark_background_violet_color_10;
        padding: 5px;
        border-radius: 40px;
        color: $main_font_grey_color_5;
        transition: background-color 0.2s ease;

        &:hover{
            background-color: $main_scroll_violet_color;
        }
    }
}
.widgets_wrapper{
    width: 100%;
    margin-top: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    opacity: 0; // For banners

    .widgets_hint{
        font-size: 1.3rem;
        font-weight: 400;
        color: $main_font_grey_color_5;
    }

    .widgets{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
    }
}

.widget{
    height: 100%;
    width: 49%;
    background-color: blueviolet;
}
.login_info{
    color: $main_font_grey_color_5;
    padding-bottom: 10px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login_status{
        display: flex;
        flex-direction: row;

        .username_login_info_check{
            max-width: 140px;
            overflow: hidden;
        }
    }
}

.login_hint{
    font-size: 0.92rem;
}
.login_more_info{

}
.main_panel_bar_wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 0 30px 0 30px;
}
.friends_bar_header{
    display: flex;
    flex-direction: row;
}

.textchat_content{
    width: 100%;
    height: 100%;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.messages_area_wrapper{
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100%;
    max-height: 92%;
    overflow-y: scroll;
    visibility: hidden;
    color: $aux_font_grey_color_6;

    scrollbar-width: 8px;
    scrollbar-color: $main_scroll_violet_color;

    &::-webkit-scrollbar{
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main_scroll_violet_color;
    }

    .textchat_message{
        display: flex;
        flex-direction: row;

        .textchat_message_avatar_wrapper{
            padding: 5px;
        }

        .textchat_message_text_wrapper{
            display: flex;
            flex-direction: column;
            padding: 5px 8% 5px 8px;

            .textchat_message_text_info{
                display: flex;
                flex-direction: row;
                align-items: center;

                .textchat_message_text_info_profilename{
                    font-size: 1rem;
                    color: $aux_font_grey_color_3;
                    font-weight: 500;
                    max-width: 145px;
                    overflow: hidden;
                }

                .textchat_message_text_info_date{
                    padding-left: 8px;
                    font-size: 0.8rem;
                    color: $active_panel_font_grey_color_7;
                    font-weight: 300;
                }
            }

            .textchat_message_text_content{
                color: $aux_font_grey_color_3;
                font-weight: 300;
                word-break: break-all;
            }
        }
    }
}
.message_input_wrapper{
    min-height: 69px;
    height: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#textchat_input_message{
    width: 100%;
    height: 75%;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    background-color: $main_scroll_violet_color;
    color: $aux_font_grey_color_6;
}

.notification_modal_wrapper{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.2s ease-out;
}
.friend_request_notification_modal_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.friend_request_notification_modal_header{
    width: 100%;
    background-color: thistle;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.friend_request_notification_text{

}
.friend_request_notification_exit_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friend_request_notification_modal_body{
    padding: 0 15px 8px 15px;
}
.friend_request_notification_modal_body_info{
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.friend_request_notification_modal_body_message{
    font-size: 1rem;
    max-width: 250px;
    text-wrap: nowrap;
    overflow: hidden;
}
.friend_request_notification_modal_body_date{
    font-size: 0.8rem;
}
.friend_request_notification_modal_body_controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.friend_request_modal_control_button{
    width: 40%;
}
.content_wrapper{
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $dark_background_violet_color_9;
    /* justify-content: center; */
    align-items: center;
}
.textchat_wrapper{
    width: 100%;
    height: 50%;
    flex-grow: 1;
}
/* {% comment %} For calling modal {% endcomment %} */

.incoming_call_wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}
.incoming_call_modal_background{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
}
.incoming_call_modal_wrapper{
    width: 20%;
    height: 15%;
    position: absolute;
    background-color: aqua;
    z-index: 1; 
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0; 
    margin: auto;
    padding: 5px;
}
.incoming_call_modal_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.incoming_call_modal_content_header{
    display: flex;
    flex-direction: row;
}
.incoming_call_modal_content_header_space{
    flex-grow: 1;
}
.incoming_call_modal_content_header_panel{

}
.incoming_call_modal_content_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* {% comment %}  {% endcomment %}

{% comment %} For videochat {% endcomment %} */

.videochat_wrapper{
    width: 100%;
    height: 50%;
    background-color: $darkest_background_violet_10;

    .videochat_content{
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;

        .videochat_info{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $main_font_grey_color_5;

            .videocall_status{
                display: flex;
                flex-direction: row;
                width: 13%;
                align-items: center;
                justify-content: space-between;
            }

            .videocall_toolbar{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 26%;
            }
        }

        .videostreams_wrapper{
            flex-grow: 1;
            padding-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;

            .videostreams{
                width: fit-content;
                height: 100%;
                display: grid;
                gap: 10px;
            }

            .control_panel_wrapper{
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }
}

.video-player{
    height: 100%;
    width: 100%;

    div{
        border-radius: 10px;
    }
}

.videostream{
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.control_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

/* {% comment %}  {% endcomment %}

{% comment %} For call panel {% endcomment %} */

.call_panel_wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 30px 10px 10px;
    border-bottom: 1px solid $dark_background_violet_color_10;

    .call_active_panel_wrapper{
        margin-left: auto;

        .call_button{
            background-color: transparent;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            border-style: none;
            color: $aux_font_grey_color_6;

            &:hover{
                color: $aux_font_grey_color_3;
            }
        }
    }
}

.friend_data_wrapper{
    display: flex;
    flex-direction: row;
    min-width: 160px;
    width: 20%;

    .channel_avatar{
        .channel_avatar_img{
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
    }

    .channel_name{
        padding-left: 12px;
        display: flex;
        align-items: center;
        color: $aux_font_grey_color_6;
        max-width: calc(100% - 30px);
        overflow: hidden;
    }
}

/* 
{% comment %}  {% endcomment %} */

.width_icon_fix{
    max-width: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profile_options_sound{
    position: relative;
    display: flex;
    justify-content: center;
}

.headphones-slash{
    position: absolute;
}

.video_chat_tool_bar_prm_color{
    color: $main_font_grey_color_5 !important;
}

.video_chat_buttons{
    border-radius: 50%;
    border-style: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $aux_font_grey_color_3;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover{
        background-color: rgba($dark_control_panel_grey, 0.7);
    }
}

.share_stream_btn{
    background-color: $dark_control_panel_grey;
}

.mute_video_btn{
    background-color: $dark_control_panel_grey;
}

.mute_mic_btn{
    background-color: $dark_control_panel_grey;
}

.leave_room_btn{
    background-color: $leave_channel_red_button;

    &:hover{
        background-color: rgba($leave_channel_red_button, 0.7) !important;
    }
}

.user_video_chat_icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.agora_video_player{
    border-radius: 10px;
    background-color: #ddd;
}

// For friend request panel

.send_request_base_wrapper{
    width: 100%;
    height: 100%;
}

.send_request_panel_wrapper{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 30px;

    .send_request_input_panel_wrapper{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        // height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid $main_scroll_violet_color;

        .main_send_requsest_input_panel_header{
            font-size: 1.5rem;
            color: $aux_font_grey_color_6;
            padding-bottom: 15px;
        }

        .secondary_send_requsest_input_panel_header{
            font-size: 0.9rem;
            color: $main_font_grey_color_5;
            padding-bottom: 12px;
        }

        .send_request_input_wrapper{
            // min-height: 30%;
            height: 50px;
            #send_friend_request_form{
                height: 100%;
                position: relative;

                .friend_request_input_field{
                    width: 100%;
                    height: 100%;
                    padding: 3px 3px 3px 15px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background-color: $main_scroll_violet_color;
                    color: $aux_font_grey_color_6;
                }

                .send_friend_request_button{
                    outline: none;
                    border-style: none;
                    position: absolute;
                    right: 15px;
                    top: 8px;
                    bottom: 8px;
                    border-radius: 5px;
                    background-color: $send_friend_request_button_blue_color;
                    color: $aux_font_grey_color_6;
                }
            }
        }

        #friend_request_form_errors{
            padding-top: 10px;
        }
    }

    .send_request_show_panel_wrapper{
        // Future content
    }
}

// Friend request end

// Profile options

.profile_options_wrapper{
    height: 350px;
    width: 225px;
    background-color: blue;
    position: absolute;
    bottom: 10%;
    left: 10%;

    .profile_options_header{

    }

    .profile_options_content{
        .profile_options_form{
            .profilename_edit_input_field{

            }

            .profile_avatar_edit_input_field{

            }

            .profile_options_apply_button{

            }
        }
    }
}

// Profile options end